* { margin: 0; padding: 0;  }

body {
	background: #FFFFFF url(/assets/grass_fondo.jpg);
	font: 11px Verdana,Arial,sans-serif;
	color: #a9a9a9;
	margin : 0;
	
	
}


a, a:hover {
	text-decoration :underline;
	color: #141;
}
a:hover {
text-decoration :none;
}

.p {
	margin:0px;
}

#body_bottom_bgd {
	width: 852px;
	margin: 0 auto;
	background: #FFFFFF url(/assets/body_bgd_bottom.gif) bottom center no-repeat;	height:100%;
	 
}

#page {
	width: 790px;	height:100%;
	background: #FFFFFF url(/assets/body_bgd.gif) center repeat-y;
	
	padding:0 8px 0 16px;
	margin: 0 auto;

}

#left_col {
	width: 210px;
	float:left;
}

#left_col img {
	margin:10px 0 0px 10px;

}


#logo {
	font-size: 1.2em;	
	margin-bottom: 20px;
}

#logo h1 {	
	padding: 15px 0px 0px 50px;
	font-size: 1.1em;	
	font-weight: normal;
	letter-spacing:-1px;
}

#logo img {
	float:left;
}

#right_col {
	width:560px;
	padding:0 0 20px 10px;
	float:left;


}



#right_col h1{
		font: 12px "MS Trebuchet",Verdana,Arial;
		color: #141;
		/*color: #669ac6;*/
		margin:0px;
		padding-top:5px;
		font-size: 1.3em;	
		font-weight: normal;
		letter-spacing:-1px;
		 
		

}

#right_col h2 {
		background:transparent url(/assets/arrow.gif) no-repeat left;
		display:inline;
		font-weight:bold;
		font-size: 1.1em;
		padding-left:12px;
		padding-top: 3px;
		padding-bottom: 3px;
}


#left_bgd{

padding-left:20px;
background: #FFFFFF url(/assets/content_bgd_left.gif) left repeat-y;
overflow:hidden;
}


#header {
	margin: 5px 0 10px 20px;
	font-size: 1.5em;
	letter-spacing: 3px;
}


#blue_line {
background:#141;
font-size: 0px;
height:2px;
margin-top:1px;
margin-bottom:10px;
width:540px;
}


.news {
	font-family: Arial;
	font-size: 0.9em;
	background-color: #e8f4ff;
	padding: 10px;
	margin-top:50px;
	text-align:justify;
}

.news h1{
		color: #141;
		margin-bottom: 10px;
		font-size: 1.1em;	
		font-weight: normal;		
}

.right {
	float:right;
	padding-left:10px;
}

.left {
	float:left;
	padding-right:10px;
}

.justify {
	text-align: justify;
}

.blue {
color: #141;
/*color: #669ac6;*/
}

.clearboth {
	clear:both;
}



#resol {
text-align:left;
width:300px;
position:fixed!important;
position:absolute;
top:0px;
left:1280px;
margin:0 auto;
background:transparent;
} 

#resol h1 {
background:none;
font-size:1.5em;
letter-spacing:12px;
padding:0px;margin:0px;
border: 0px;
}
#resol h2 {
font-size:0.8em;letter-spacing:3px;
padding:0px;margin:0px;
background:none;
}

.dottedline { 
	width:100%;
	border-top:dotted 1px #669ac6;
	margin: 10px 0px 0px 0px;
	height:0px;
}

.boxleft {
	width:240px;
	padding: 10px 10px 0px 0px;
	border-right:dotted 1px #669ac6;
	float:left;	
}

.boxright {
	width:240px;
	border-left:dotted 1px #669ac6;
	padding: 10px 0px 0px 10px;
	margin: 0px 0px 0px 250px;

}

li {
background:transparent url(/assets/square.gif) no-repeat left;
list-style-type:none; 
padding-left:7px;
}

table {
padding:5px;
border:0px;
}

form {
border : 5px;
padding:5px;
margin:5px;
}


legend {
color:#669AC6;
}

form label.text {
	display:block;
	float: left;
	width: 40%;
	text-align: right; 
	margin: 5px 0 0 0;
	padding: 0.1em;
}

input.text, textarea.text,input.warning, textarea.warning  { 
  border-color:#dadada; 
  border-style:solid; 
  border-width:1px; 
  margin:5px;
	width:200px;
}


 textarea.text  {
 width:200px;
 height:80px;
 }

.button {
	margin-top:5px;

	border: 0px solid #ffffff;
	padding: 0px 10px 0px 10px;	
	color:  #ffffff;
	background-color: #669AC6;	
			
}

.center {
	text-align:center;
}

#wrap {overflow:hidden;padding-bottom:10px;}
.bold {
	font-weight:bold;
}



#copyright {
height: 35px;/* don't change */
font-size: 0.9em;
padding-top:15px;
text-align:center;
}
#copyrightkit {
	width: 800px;
}
#copyright a,#copyright a.link  {
text-decoration: none;
color: #a9a9a9;
}

#copyrightkit, #copyrightkit a {	
	margin: 0 auto;
	text-align:right;
	font-size: 0.9em;
	color:#d7d7d7;
	text-decoration:none;

}

#copyrightkit a:hover {
	text-decoration:underline;
}
#product_list .list_image {
  width:        100px;
  height:       90px;
  border: 1px solid #222222 ;
}
#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}
#columns {
  background: #141;

}



#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;

  background: #141;
}

#side a {
  color: #FFF;
  
}

#holder { position: absolute; top: 0; left: 0;}
#copy {clear: both;}
html, body, #holder { min-height: 100%; width: 100%; height: 100%;}
html>body, html>body #holder { height: auto;}
#free-flash-header a:hover {color:#cdd2d7;text-decoration:none}
#resol {text-align:left;font-family:Verdana, Arial, Helvetica, sans-serif;position:fixed;padding-left:10px;width:290px;top:0px;left:1280px;margin:0 auto;background:#bfc6d9;} #resol h1 {background:none;font-size:1.2em;letter-spacing:10px;padding:0px;margin:0px;border: 0px;} #resol h2 {font-size:0.6em;letter-spacing:3px;padding:0px;margin:0px;background:none;}

